* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Navbar */

nav {
	display: flex;
	justify-content: space-between;
	background-color: #212529d7;
	align-items: center;
	padding: 10px 40px;
	margin-bottom: 17px;
}

.logo span {
	font-size: 1.7rem;
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logo a {
	text-decoration: none;
	color: white;
	font-size: 1.4rem;
	margin-left: 30px;
}

.search input {
	font-size: 23px;
	height: 35px;
	border: none;
	border-radius: 3px;
	padding: 8px;
}

/* Input Section */

.container {
	width: 55%;
	margin: auto;
}

.container h1 {
	margin: 17px 0;
	font-size: 2rem;
	font-family: sans-serif;
	font-weight: normal;
}

.input-section {
	border: 1px solid grey;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 17px;
}

.input-section h3 {
	font-size: 1.2rem;
	font-family: sans-serif;
	font-weight: normal;
}

.input-section textarea,
#title {
	border: 1px solid grey;
	width: 100%;
	margin: 10px 0;
	border-radius: 5px;
	font-size: 17px;
	padding: 8px;
}

button {
	padding: 6px 10px;
	color: white;
	background-color: #007bff;
	border: 2px solid #007bff;
	border-radius: 3px;
	font-size: 1rem;
	display: inline-block;
}

.del {
	background-color: red;
	border: 2px solid red;
	display: inline-block !important;
	margin-left: 5px;
}
.mark {
	display: inline-block !important;
}

/* Note Section */

.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 17px;
	padding: 17px 0;
}

.card {
	width: 100%;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 15px 15px;
	/* margin: 17px 8px; */
}

.card-title {
	font-family: sans-serif;
	font-weight: normal;
	margin-bottom: 12px;
}

.card-note {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(95, 95, 95);
	margin-bottom: 12px;
}

/* Media Query */

@media only screen and (max-width: 600px) {
	.search input {
		font-size: 14px;
		height: auto;
		width: auto;
		margin-top: 10px;
	}

	nav {
		flex-direction: column;
	}
	.logo a {
		display: none;
	}
	.container {
		width: 90%;
	}
	.container h1 {
		font-size: 1.5rem;
	}
}
